@model IEnumerable<Enrollment.Models.Person>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address.Address1)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Address.Address2)
        </th>*@
        <th>
            Gender
        </th>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.MiddleInitial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            Soc Sec Num
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CellPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Address.Address1)
            @Html.DisplayFor(modelItem => item.Address.Address2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender.GenderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
            @Html.DisplayFor(modelItem => item.MiddleInitial)
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SSN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CellPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PersonID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PersonID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PersonID })
        </td>
    </tr>
}

</table>
