@model Enrollment.ViewModels.PortalIndexViewModel

@{
    ViewBag.Title = "Summary";
}

<h2>Summary</h2>

<div>
    <h4>Participant</h4>
    <div class="table-responsive">
        <table class="table table-striped col-md-9">
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.BirthDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.SSN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.HomePhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.CellPhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address.FullAddress)
                </th>
            </tr>
            <tr>
                <td>
                    <a href="@Url.Action("EditPerson", "Portal", new { id = Model.Person.PersonID })" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true" />
                        <span class="sr-only">Edit</span>
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Person.FullName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Person.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Person.SSN)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Person.Gender.GenderName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Person.HomePhone)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Person.CellPhone)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Person.Email)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Address.FullAddress)
                </td>
                
            </tr>
        </table>
    </div>
</div>

<br />

<div>
    <h4>Employers</h4>
    <div class="table-responsive">
        <table class="table table-striped col-md-9">
            <tr>
                <th></th>
                <th>
                    Employer
                </th>
                <th>
                    Employment Date
                </th>
                <th>
                    Occupation Code
                </th>
                <th>
                    Work Status
                </th>
                <th>
                    Work Hours
                </th>
                <th>
                    End Date
                </th>
            </tr>

            @foreach (var item in Model.EmploymentInformation)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("EditEmployer", "Portal", new { id = item.EmploymentInformationID })" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true" />
                            <span class="sr-only">Edit</span>
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employer.EmployerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HireDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OccupationCode.OccupationCodeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkStatus.WorkStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkHours)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    
                </tr>
            }
        </table>
    </div>
</div>

<br />
<div>
    <h4>Dependents</h4>
    <div class="table-responsive">
        <table class="table table-striped col-md-9">
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.BirthDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.SSN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.HomePhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.CellPhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.Email)
                </th>
            </tr>

            @foreach (var item in Model.Dependents)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("EditPerson", "Portal", new { id = item.Person.PersonID })" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true" />
                            <span class="sr-only">Edit</span>
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.BirthDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.SSN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.Gender.GenderName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.HomePhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.CellPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.Email)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<br />

<div>
    <h4>Beneficiaries</h4>
    <div class="table-responsive">
        <table class="table table-striped col-md-9">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Relationship
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model.Beneficiaries)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RelationshipType.RelationshipTypeName)
                    </td>
                </tr>
            }
        </table>

    </div>    
</div>
@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.PersonID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
