@model Enrollment.Models.Participant

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Participant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employer.EmployerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employer.EmployerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkStatus.WorkStatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkStatus.WorkStatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkHours)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PersonID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
